body {
    background: #1d3557;
}
.main-title {
    color: #a8dadc;
}
.task-card {
    background-color: #f1faee;
    margin: 10px auto;
}
.col-update {
    display: inline-block;
}
.task-card-update {
    background-color: #f1faee;
    margin: 10px auto;

}
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 18px;
}

input::placeholder {
    color: #d3d3d3;
}
input[type=submit] {
    font-size: 18px;
}
.update-card {
    display: inline-block;
}
span {
    font-size: large;
}
strike {
    font-size: large;
    color: #457b9d;
}