{% extends 'tasks/base.html' %}
{% load static %}
{% block content %}
    <br>
<div class="container">
    <div class="row">
        <div class="col-8 col-update">
            <div class="task-card-update w-100 update-card card-body rounded">
                <p class="card-text">Voulez-vous vraiment effacer cet devoir "<span class="">{{ task }}</span>"?</p>

                <form action="" method="POST">
                    {% csrf_token %}
                    <a href="{% url 'show_tasks' %}" class="btn btn-warning btn-sm w-100">Annuler</a>
                    <input type="submit" name="Confirm" value="Effacer" class="btn btn-danger btn-sm">
                </form>
            </div>
        </div>


    </div>
</div>


{% endblock %}